<% currently_at @product.title %>
<% provide :page_title, @product.title %>

<!-- Show truck-->
<div class="flex grid grid-cols-1 md:grid-cols-6 gap-6 w-full my-6 px-2 lg:px-6 mx-auto justify-center">
    <!-- Truck card -->
    <%= tag.section (render @product), class: "col-span-1 md:col-span-3"%>
    <!-- About Seller -->
    <%= tag.section class: "relative w-full h-auto block bg-white rounded-lg shadow-md col-span-1 md:col-span-3 hover:shadow-xl py-3" do %>
        <% if @product.user.class.name == Company.name %>
            <%= render 'companies/shared/company_card', company_card: @user %>
        <% else %>
            <%= render 'clients/shared/about_client', client: @user%>
        <% end %>
    <% end %>
</div>
