<% currently_at t('pages.calculator') %>
<% provide :page_title, t('pages.calculator') %>

<!-- Categories table -->
<%= turbo_frame_tag 'calculation',
    class: "container mx-auto grid grid-flow-row auto-rows-max w-full justify-center" do 
%>
    <!-- Title -->
    <%= tag.h4 t('calculator.title'), class: 'text-3xl font-semibold text-gray-800 capitalize my-6 text-center'%>
    <!-- Form -->
    <div class="sm:min-w-[32rem] pb-6 shadow-md hover:shadow-xl rounded-xl">
        <%= render 'form', path: contents_calculator_path, total_prices: (render 'companies_prices'), frame: '_top'%>
    </div>
<% end %>