<!-- Comments section-->
<section class="w-full flex flex-col my-6">
    <!-- Title -->
    <%= tag.h3 "Reviews: #{@reviews_count}", 
        class: "my-5 text-2xl font-semibold text-gray-900 text-center col-span-full", id: 'reviews'%>
    <!-- Reviews list -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <%= render partial: 'feedbacks/reviews/review', collection: @reviews%>
    </div>
    <!-- Pagination -->
    <%== pagy_nav(@pagy) if @reviews_count > 10 %>
</section>
