<div class="flex justify-center mt-10">
    <div class="bg-cover rounded-lg h-auto" style="background-image:url(<%= asset_path('bg/moving_preparation.webp')%>)"></div>
        <%= image_tag(asset_path('bg/moving_preparation.webp'), class: "object-cover w-full h-auto rounded-xl lg:w-4/5")%>
</div>
<%= tag.h1 t('moving_preparation.header'), class: "mt-6 text-gray-500" %>