<%= turbo_frame_tag "modal" do %>
  <%= tag.div data: { 
      controller: "turbo-modal", 
      action: "turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground",
      turbo_modal_target: "modal"},
      class: "overflow-y-auto overflow-x-hidden max-h-[40rem] justify-center items-center shadow-md hover:shadow-xl rounded-lg
              fixed w-4/5 sm:w-2/3 md:w-auto top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-50 mx-auto" do 
  %>
      <div class="relative p-3 w-full max-w-lg h-full sm:h-auto bg-gray-50 border rounded-lg">
        <!-- Close button -->
        <%= render 'shared/buttons/close'%>
        <!-- Content -->
        <%= content %>
      </div>
  <% end %>
<% end %>
