<% currently_at t('sign_up.title') %>
<% provide :page_title, t('sign_up.title') %>

<section class="h-full w-full items-center pt-0 justify-center flex bg-cover bg-center bg-scroll">
    <div class="grid grid-cols-1 w-auto px-4 mt-20 py-8 rounded-lg shadow-lg relative bg-slate-50">
        <div class="text-center mb-4 mx-2 h-auto">
            <%= tag.h2 t('sign_up.title'), class: "text-4xl tracking-tight leading-none text-gray-700"%>
        </div>
        <div class="px-6 h-auto text-gray-800 flex justify-center flex-wrap g-6">
            <!-- Registsration Form -->
            <%= render 'form_new'%>
        </div>
    </div>
</section>