<!-- About user -->
<section class="mx-5 flex flex-col items-center">
    <!-- Avatar -->
    <%= image_tag(client.avatar_attachment_path, class: "object-cover w-20 h-20 mx-2 mb-3 rounded-full border border-white", alt: "avatar")%>
    <!-- Name -->
    <%= tag.h4 client.user_name , class: "mb-3 font-medium text-2xl text-center hover:underline text-gray-800" %>
    
    <!-- Message -->
    <%= render 'feedbacks/rooms/form', recipient: client%>
    <!-- Contacts -->
    <%= render 'users/users/contacts_section', user: client%>
</section>