<% currently_at @company.title %>
<% provide :page_title, @company.title %>

<!-- Show truck-->
<div class="flex grid grid-cols-1 md:grid-cols-6 gap-6 w-full my-6 px-2 lg:px-6 mx-auto justify-center">
    <!-- Truck card -->
    <%= tag.section (render @truck), class: "col-span-1 md:col-span-3"%>
    <!-- About Company -->
    <%= tag.section (render 'companies/shared/company_card', company: @company), class: "relative py-3 w-full h-auto block bg-white rounded-lg shadow-md col-span-1 md:col-span-3 hover:shadow-xl"%>
</div>
