<% currently_at t('product.edit_btn') %>
<% provide :page_title, t('product.edit_btn') %>
<% provide :main_title, t('product.edit_btn') %>
<% provide :parent_title, t('product.my_products') %>
<% provide :parent_path, users_products_path %>
<% provide :nav_title, t('product.edit_btn') %>
<% provide :nav_path, edit_users_product_path(@product) %>

<!-- Form edit product -->
<div class="w-full mx-auto">
    <%= render 'form'%>
    
    <%= link_to t('product.my_products'), users_products_path, 
        class: "mt-6 rounded-lg py-3 px-5 bg-gray-100 hover:bg-gray-200 inline-block font-medium"
    %>
</div>




