<!-- Feedback -->
<div class="flex justify-center pt-6 mx-auto text-center" id="feedback">
    <!-- Link -->
    <div class="flex justify-center">
        <%= link_to feedbacks_path, class: "py-2 px-3 font-semibold rounded-lg text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br dark:text-gray-900 dark:bg-violet-400 cursor-pointer flex items-center" do %>
            <%= heroicon 'chat-bubble-bottom-center-text', class: 'w-5 h-5 mr-2'%>
            <%= t('review.add')%>
        <% end %>
    </div>
</div>