<!-- Newslatter -->
<section class="bg-gray-50" id="newsletter">
    <div class="max-w-3xl px-6 py-16 mx-auto text-center">
        <%= tag.h1 t('home_page.newslatter.title'), class: "text-3xl font-semibold text-gray-800 "%>
        <%= tag.p t('home_page.newslatter.desc'), class: "max-w-md mx-auto mt-5 text-gray-500 d"%> -->

        <!-- Subscribe -->
        <%= render 'users/mailers/form'%>
    </div>
</section>

