@import "application.tailwind";
@import "star_rating";

//Stimulus ReadMore
.my-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 2);
}

