<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<div class="flex justify-start mt-6">
    <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), 
        class: 'p-2 px-4 bg-blue-700 text-white rounded-lg'%>
</div>
